openapi: 3.2.0
info:
  title: Vantage Me API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: Me
  description: Operations about Mes
paths:
  /me:
    get:
      tags:
      - Me
      summary: Get authenticated user info
      description: Get information about the authenticated BearerToken.
      operationId: getMe
      responses:
        '200':
          description: General information about the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Me
      summary: Update authenticated user
      description: Update the authenticated User.
      operationId: updateMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateMe'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateMe
components:
  schemas:
    Me:
      required:
      - bearer_token
      - default_workspace_token
      - workspaces
      type: object
      properties:
        default_workspace_token:
          type:
          - string
          - 'null'
        default_dashboard_token:
          type:
          - string
          - 'null'
          description: The token of the default Dashboard for the User.
        workspaces:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        bearer_token:
          $ref: '#/components/schemas/BearerToken'
      description: Me model
    Errors:
      required:
      - errors
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        errors:
          type: array
          items:
            type: string
      description: Errors model
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    Workspace:
      required:
      - created_at
      - currency
      - enable_currency_conversion
      - exchange_rate_date
      - name
      - token
      type: object
      properties:
        token:
          type: string
        name:
          type: string
          description: The name of the Workspace.
          example: Acme Corp.
        created_at:
          type: string
          description: The date and time, in UTC, the Workspace was created. ISO 8601 Formatted.
          example: '2023-08-04T00:00:00Z'
        enable_currency_conversion:
          type: boolean
          description: Whether or not currency conversion is enabled for the Workspace.
        currency:
          type: string
          description: The currency code for the Workspace that will be used for currency conversion.
          example: USD
        exchange_rate_date:
          type: string
          description: The exchange rate date that will be used to convert currency for your cost data.
      description: Workspace model
    updateMe:
      type: object
      properties:
        default_dashboard_token:
          type:
          - string
          - 'null'
          description: The token of a Dashboard to set as the User default. Send null to clear.
          x-omitempty: false
      description: Update the authenticated User.
    BearerToken:
      required:
      - created_at
      - description
      - scope
      type: object
      properties:
        description:
          type: string
          description: The user supplied description of this BearerToken
        created_at:
          type: string
          description: The date and time, in UTC, the BearerToken was created. ISO 8601 Formatted.
          example: '2023-08-04T00:00:00Z'
        scope:
          type: array
          description: The scopes applied to the BearerToken used to authenticate this request.
          items:
            type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
