openapi: 3.2.0
info:
  title: Vantage User Feedback API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: User Feedback
  description: Operations about UserFeedbacks
paths:
  /user_feedback:
    post:
      tags:
      - User Feedback
      summary: Submit user feedback
      description: Provide UserFeedback for our product and features.
      operationId: createUserFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createUserFeedback'
        required: true
      responses:
        '201':
          description: Provide UserFeedback for our product and features.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFeedback'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
      x-codegen-request-body-name: createUserFeedback
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    UserFeedback:
      required:
      - created_at
      - message
      - token
      type: object
      properties:
        token:
          type: string
          description: Token of the feedback
        message:
          type: string
          description: User feedback message
        created_by_token:
          type:
          - string
          - 'null'
          description: Token of the creator of the feedback
        created_at:
          type: string
          description: Feedback creation timestamp
          example: '2023-01-01T00:00:00Z'
      description: UserFeedback model
    createUserFeedback:
      required:
      - message
      type: object
      properties:
        message:
          type: string
          description: UserFeedback message
      description: Provide UserFeedback for our product and features.
    Errors:
      required:
      - errors
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        errors:
          type: array
          items:
            type: string
      description: Errors model
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
