openapi: 3.2.0
info:
  title: Vantage Users API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: Users
  description: Operations about Users
paths:
  /users:
    get:
      tags:
      - Users
      summary: Get all users
      description: Return all Users that the current API token has access to.
      operationId: getUsers
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Users'
              example:
                links:
                  self: https://api.vantage.sh/v2/users
                  first: https://api.vantage.sh/v2/users?page=1
                  next: null
                  last: https://api.vantage.sh/v2/users?page=1
                  prev: null
                users:
                - token: usr_aa5cce4180981299
                  name: Jeanice Bins
                  email: jeanice_bins@torp-huels.name
                  role: Owner
                  last_seen_at: '2024-01-01'
                - token: usr_2372916b9f9589e7
                  name: Otto Goyette
                  email: otto_goyette@cronin.net
                  role: Owner
                  last_seen_at: '2024-01-01'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
  /users/{user_token}:
    get:
      tags:
      - Users
      summary: Get user by token
      description: Return a specific User.
      operationId: getUser
      parameters:
      - name: user_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              example:
                token: usr_bfc6ab15e635f848
                name: Patrick White
                email: white.patrick@kassulke-nitzsche.net
                role: Owner
                last_seen_at: '2024-01-01'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Users
      summary: Update a user
      description: Update a specific User.
      operationId: updateUser
      parameters:
      - name: user_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUser'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateUser
components:
  schemas:
    Users:
      required:
      - users
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
      description: Users model
    updateUser:
      type: object
      properties:
        default_dashboard_token:
          type:
          - string
          - 'null'
          description: The token of a Dashboard to set as the User default. Send null to clear.
          x-omitempty: false
      description: Update a specific User.
    Errors:
      required:
      - errors
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        errors:
          type: array
          items:
            type: string
      description: Errors model
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    User:
      required:
      - email
      - name
      - role
      - token
      type: object
      properties:
        token:
          type: string
        name:
          type:
          - string
          - 'null'
          description: The name of the User.
          example: John Doe
        email:
          type: string
          description: The email of the User.
          example: john_doe@acme.com
        role:
          type: string
          description: The role of the User.
          example: Admin
        default_dashboard_token:
          type:
          - string
          - 'null'
          description: The token of the default Dashboard for the User.
          example: dshbrd_abcdef123456
        last_seen_at:
          type:
          - string
          - 'null'
          description: The last time the User logged in.
          example: '2024-01-01T00:00:00Z'
      description: User model
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
