openapi: 3.2.0
info:
  title: Vantage Cost Service API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: CostService
  description: Operations about CostServices
paths:
  /cost_services:
    get:
      tags:
      - CostService
      summary: Get cost services
      description: List CostServices available to query in a given Workspace.
      operationId: getCostServices
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostServices for. Required if the API token is associated with multiple Workspaces.
        schema:
          type: string
      responses:
        '200':
          description: List of CostServices, used to query costs using VQL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostServices'
      security:
      - oauth2:
        - read
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    CostServices:
      required:
      - cost_services
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        cost_services:
          type: array
          items:
            $ref: '#/components/schemas/CostService'
      description: CostServices model
    CostService:
      required:
      - name
      - provider
      type: object
      properties:
        name:
          type: string
          description: The name of the CostService.
          example: Amazon Simple Storage Service
        provider:
          type: string
          description: The key value of the CostProvider.
          example: aws
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
