openapi: 3.2.0
info:
  title: Vantage Cost Provider Accounts API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: CostProviderAccounts
  description: Operations about CostProviderAccounts
paths:
  /cost_provider_accounts:
    get:
      tags:
      - CostProviderAccounts
      summary: Get all cost provider accounts
      description: List CostProviderAccounts available in a given Workspace.
      operationId: getCostProviderAccounts
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostProviderAccounts for. Required if the API token is associated with multiple Workspaces.
        schema:
          type: string
      - name: provider
        in: query
        description: Filter by provider type.
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - snowflake
          - databricks
          - mongo
          - datadog
          - fastly
          - new_relic
          - opencost
          - open_ai
          - oracle
          - confluent
          - planetscale
          - coralogix
          - kubernetes
          - custom_provider
          - github
          - linode
          - grafana
          - clickhouse
          - temporal
          - twilio
          - azure_csp
          - kubernetes_agent
          - anthropic
          - anyscale
          - cursor
          - elastic
          - vercel
          - redis_cloud
          - circle_ci
          - modal
          - eleven_labs
          - baseten
          - cloudflare
          - fireworks_ai
      - name: account_id
        in: query
        description: Filter by provider account identifier.
        schema:
          type: string
      - name: account_name
        in: query
        description: Filter by account name (exact match).
        schema:
          type: string
      responses:
        '200':
          description: List of provider accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostProviderAccounts'
              example:
                cost_provider_accounts:
                - title: Azure Development Account
                  account_id: azure-subscription-id
                  provider_uuid: azure-subscription-uuid
                  provider: azure
                - title: AWS Test Account
                  account_id: '999888777666'
                  provider_uuid: arn:aws:organizations::999888777666:account/o-test123456/999888777666
                  provider: aws
      security:
      - oauth2:
        - read
components:
  schemas:
    CostProviderAccounts:
      required:
      - cost_provider_accounts
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        cost_provider_accounts:
          type: array
          items:
            $ref: '#/components/schemas/CostProviderAccount'
      description: CostProviderAccounts model
    CostProviderAccount:
      required:
      - account_id
      - provider
      - provider_uuid
      - title
      type: object
      properties:
        title:
          type: string
          description: The display name of the provider account.
          example: Production Account
        account_id:
          type: string
          description: The provider account identifier (e.g., AWS account ID, Azure subscription ID).
          example: '123456789012'
        provider_uuid:
          type: string
          description: The provider-specific unique identifier.
          example: arn:aws:organizations::123456789012:account/o-example12345/123456789012
        provider:
          type: string
          description: The provider type (aws, azure, gcp, etc.).
          example: aws
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
