openapi: 3.2.0
info:
  title: Vantage Budget Alerts API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: Budget Alerts
  description: Operations about BudgetAlerts
paths:
  /budget_alerts:
    get:
      tags:
      - Budget Alerts
      summary: Get all budget alerts
      description: Return all BudgetAlerts.
      operationId: getBudgetAlerts
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlerts'
      security:
      - oauth2:
        - read
    post:
      tags:
      - Budget Alerts
      summary: Create budget alert
      description: Create a Budget Alert.
      operationId: createBudgetAlert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBudgetAlert'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBudgetAlert
  /budget_alerts/{budget_alert_token}:
    get:
      tags:
      - Budget Alerts
      summary: Get budget alert by token
      description: Return a BudgetAlert.
      operationId: getBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Budget Alerts
      summary: Update budget alert
      description: Updates an existing BudgetAlert.
      operationId: updateBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBudgetAlert'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBudgetAlert
    delete:
      tags:
      - Budget Alerts
      summary: Delete budget alert
      description: Delete a BudgetAlert.
      operationId: deleteBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
components:
  schemas:
    BudgetAlert:
      required:
      - budget_tokens
      - created_at
      - duration_in_days
      - period_to_track
      - recipient_channels
      - threshold
      - token
      - user_tokens
      - workspace_token
      type: object
      properties:
        token:
          type: string
        budget_tokens:
          type: array
          description: The tokens for the Budgets that the Budget Alert is monitoring to trigger alerts on.
          items:
            type: string
            example: ''
        created_at:
          type: string
          description: The date and time, in UTC, the Budget Alert was created. ISO 8601 Formatted.
          example: '2024-03-19T00:00:00Z'
        workspace_token:
          type:
          - string
          - 'null'
          description: The token for the Workspace the ResourceReport is a part of.
        user_token:
          type:
          - string
          - 'null'
          description: The token for the User who created this BudgetAlert.
        user_tokens:
          type: array
          description: The Users that receive the alert.
          items:
            type: string
            example: ''
        duration_in_days:
          type:
          - integer
          - 'null'
          description: The number of days from the start or end of the month to trigger the alert if the threshold is reached.
          format: int32
        threshold:
          type: integer
          description: Alerts only send if they reach this number (as a percentage). When threshold is 100, that means alerts are triggered once costs reach 100% of the budget.
          format: int32
          example: 75
        period_to_track:
          type:
          - string
          - 'null'
          description: 'The period tracked on the alert. Used with duration_in_days to determine the time window of the alert. Possible values: start_of_the_month, end_of_the_month.'
          example: start_of_the_month
        integration_provider:
          type:
          - string
          - 'null'
          description: 'The provider used for sending alerts. This must be configured in the console. Possible values are: slack, microsoft_graph.'
          example: slack
        recipient_channels:
          type:
          - array
          - 'null'
          description: The channels receiving the alerts. Requires an integration provider to be connected.
          items:
            type: string
            example: ''
      description: BudgetAlert model
    BudgetAlerts:
      required:
      - budget_alerts
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        budget_alerts:
          type: array
          items:
            $ref: '#/components/schemas/BudgetAlert'
      description: BudgetAlerts model
    Errors:
      required:
      - errors
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        errors:
          type: array
          items:
            type: string
      description: Errors model
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    updateBudgetAlert:
      type: object
      properties:
        budget_tokens:
          type: array
          description: The tokens of the Budget that has the alert.
          items:
            type: string
        threshold:
          type: integer
          description: The threshold amount that must be met for the alert to fire.
          format: int32
        user_tokens:
          type: array
          description: The tokens of the users that receive the alert.
          items:
            type: string
        duration_in_days:
          type: string
          description: The number of days from the start or end of the month to trigger the alert if the threshold is reached. For the full month, pass an empty value.
        period_to_track:
          type: string
          description: 'The period tracked on the alert. Used with duration_in_days to determine the time window of the alert. Defaults to start_of_the_month if not passed. Possible values: start_of_the_month, end_of_the_month.'
        recipient_channels:
          type: array
          description: The channels receiving the alerts. Requires an integration provider to be connected.
          items:
            type: string
      description: Updates an existing BudgetAlert.
    createBudgetAlert:
      required:
      - budget_tokens
      - duration_in_days
      - threshold
      type: object
      properties:
        budget_tokens:
          type: array
          description: The tokens of the Budget that has the alert.
          items:
            type: string
        threshold:
          type: integer
          description: The threshold amount that must be met for the alert to fire.
          format: int32
        user_tokens:
          type: array
          description: The tokens of the users that receive the alert.
          items:
            type: string
        duration_in_days:
          type: string
          description: The number of days from the start or end of the month to trigger the alert if the threshold is reached.  For the full month, pass an empty value.
        period_to_track:
          type: string
          description: 'The period tracked on the alert. Used with duration_in_days to determine the time window of the alert. Defaults to start_of_the_month if not passed. Possible values: start_of_the_month, end_of_the_month.'
        recipient_channels:
          type: array
          description: The channels receiving the alerts. Requires an integration provider to be connected.
          items:
            type: string
      description: Create a Budget Alert.
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
