openapi: 3.0.1
info:
  title: Vantage AccessGrants CostAlertEvents API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform. It covers cost reporting and querying (Costs, Cost Reports, forecasts, unit costs), cost visibility and optimization (Resources, Recommendations, Financial Commitments, Kubernetes efficiency), governance and alerting (Budgets, Budget Alerts, Cost Alerts, Anomaly Alerts and Notifications), organization (Segments, Folders, Saved Filters, Dashboards, Workspaces, Teams), and billing (Billing Profiles, Billing Rules, Invoices). The API spans AWS, Azure, GCP, Kubernetes, Datadog, Snowflake, MongoDB, and other supported providers. Base URL https://api.vantage.sh/v2. Authentication is via OAuth2 (client credentials / bearer token) with read and write scopes.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: CostAlertEvents
  description: Operations about CostAlertEvents
paths:
  /cost_alerts/{cost_alert_token}/events:
    get:
      tags:
      - CostAlertEvents
      summary: Get all cost alert events
      description: Get all CostAlertEvents
      operationId: getCostAlertEvents
      parameters:
      - name: cost_alert_token
        in: path
        description: The token of the CostAlertEvent.
        required: true
        schema:
          type: string
      - name: report_token
        in: query
        description: The token of the report associated with the CostAlertEvent.
        schema:
          type: string
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlertEvents'
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events
                  first: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1
                  prev: null
                cost_alert_events:
                - token: cstm_alrt_evnt_87124a0f2989837b
                  created_at: '2025-04-08T17:39:30Z'
                  triggered_at: '2025-04-10T17:39:30Z'
                  description: Day over day costs for aws and storage increased by $500.0.
                  alert_type: change_in_cost
                  metadata:
                    change_in_cost: '500.0'
                    groupings:
                    - aws
                    - storage
                  report_token: rprt_e9f27fc1c3b68204
                  alert_token: cstm_alrt_rl_71cacf1cf755fe36
                - token: cstm_alrt_evnt_5c67b34433ea6e97
                  created_at: '2025-04-09T17:39:30Z'
                  triggered_at: '2025-04-10T17:39:30Z'
                  description: Day over day costs for aws and storage increased by $500.0.
                  alert_type: change_in_cost
                  metadata:
                    change_in_cost: '500.0'
                    groupings:
                    - aws
                    - storage
                  report_token: rprt_1bdc694530d0b3d6
                  alert_token: cstm_alrt_rl_71cacf1cf755fe36
      security:
      - oauth2:
        - read
  /cost_alerts/{cost_alert_token}/events/{event_token}:
    get:
      tags:
      - CostAlertEvents
      summary: Get cost alert event by token
      description: Get a CostAlertEvent
      operationId: getCostAlertEvent
      parameters:
      - name: cost_alert_token
        in: path
        required: true
        schema:
          type: string
      - name: event_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlertEvent'
              example:
                token: cstm_alrt_evnt_bdc4f45f9a5f20f1
                created_at: '2025-04-08T17:39:29Z'
                triggered_at: '2025-04-10T17:39:29Z'
                description: Day over day costs for aws and storage increased by $500.0.
                alert_type: change_in_cost
                metadata:
                  change_in_cost: '500.0'
                  groupings:
                  - aws
                  - storage
                report_token: rprt_9585e8071c2756d4
                alert_token: cstm_alrt_rl_42159424c0cf6fcb
      security:
      - oauth2:
        - read
components:
  schemas:
    CostAlertEvents:
      required:
      - cost_alert_events
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        cost_alert_events:
          type: array
          items:
            $ref: '#/components/schemas/CostAlertEvent'
      description: CostAlertEvents model
    Links:
      type: object
      properties:
        self:
          type: string
          description: The URL of the current page of results.
          nullable: true
        first:
          type: string
          description: The URL of the first page of results.
          nullable: true
        next:
          type: string
          description: The URL of the next page of results, if one exists.
          nullable: true
        last:
          type: string
          description: The URL of the last page of results, if one exists.
          nullable: true
        prev:
          type: string
          description: The URL of the previous page of results, if one exists.
          nullable: true
    CostAlertEvent:
      required:
      - alert_token
      - alert_type
      - created_at
      - description
      - metadata
      - report_token
      - token
      - triggered_at
      type: object
      properties:
        token:
          type: string
          nullable: false
        created_at:
          type: string
          description: The date and time, in UTC, the CostAlertEvent was created. ISO 8601 Formatted.
          nullable: false
          example: '2021-07-09T00:00:00Z'
        triggered_at:
          type: string
          description: The date and time, in UTC, the CostAlertEvent is sent. ISO 8601 Formatted.
          nullable: false
          example: '2021-07-09T00:00:00Z'
        description:
          type: string
          description: The description of the CostAlertEvent.
          nullable: false
        alert_type:
          type: string
          description: The type of the CostAlertEvent.
          nullable: false
        metadata:
          type: object
          properties: {}
          description: The metadata of the CostAlertEvent.
          nullable: false
        report_token:
          type: string
          description: The token of the report associated with the CostAlertEvent.
          nullable: false
        alert_token:
          type: string
          description: The token of the alert associated with the CostAlertEvent.
          nullable: false
      description: CostAlertEvent model
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
