openapi: 3.0.1
info:
  title: Vantage AccessGrants CostProvider API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform. It covers cost reporting and querying (Costs, Cost Reports, forecasts, unit costs), cost visibility and optimization (Resources, Recommendations, Financial Commitments, Kubernetes efficiency), governance and alerting (Budgets, Budget Alerts, Cost Alerts, Anomaly Alerts and Notifications), organization (Segments, Folders, Saved Filters, Dashboards, Workspaces, Teams), and billing (Billing Profiles, Billing Rules, Invoices). The API spans AWS, Azure, GCP, Kubernetes, Datadog, Snowflake, MongoDB, and other supported providers. Base URL https://api.vantage.sh/v2. Authentication is via OAuth2 (client credentials / bearer token) with read and write scopes.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: CostProvider
  description: Operations about CostProviders
paths:
  /cost_providers:
    get:
      tags:
      - CostProvider
      summary: Get cost providers
      description: List CostProviders available to query in a given Workspace.
      operationId: getCostProviders
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostProviders for. Required if the API token is associated with multiple Workspaces.
        schema:
          type: string
      responses:
        '200':
          description: List of connected CostProviders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostProviders'
      security:
      - oauth2:
        - read
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type: string
          description: The URL of the current page of results.
          nullable: true
        first:
          type: string
          description: The URL of the first page of results.
          nullable: true
        next:
          type: string
          description: The URL of the next page of results, if one exists.
          nullable: true
        last:
          type: string
          description: The URL of the last page of results, if one exists.
          nullable: true
        prev:
          type: string
          description: The URL of the previous page of results, if one exists.
          nullable: true
    CostProvider:
      required:
      - key
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the CostProvider.
          nullable: false
          example: AWS
        key:
          type: string
          description: The key of the CostProvider, useful for filtering Costs.
          nullable: false
          example: aws
    CostProviders:
      required:
      - cost_providers
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        cost_providers:
          type: array
          items:
            $ref: '#/components/schemas/CostProvider'
      description: CostProviders model
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
