openapi: 3.2.0
info:
  title: Vantage Cost Provider API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: CostProvider
  description: Operations about CostProviders
paths:
  /cost_providers:
    get:
      tags:
      - CostProvider
      summary: Get cost providers
      description: List CostProviders available to query in a given Workspace.
      operationId: getCostProviders
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostProviders for. Required if the API token is associated with multiple Workspaces.
        schema:
          type: string
      responses:
        '200':
          description: List of connected CostProviders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostProviders'
      security:
      - oauth2:
        - read
components:
  schemas:
    Links:
      type: object
      properties:
        self:
          type:
          - string
          - 'null'
          description: The URL of the current page of results.
        first:
          type:
          - string
          - 'null'
          description: The URL of the first page of results.
        next:
          type:
          - string
          - 'null'
          description: The URL of the next page of results, if one exists.
        last:
          type:
          - string
          - 'null'
          description: The URL of the last page of results, if one exists.
        prev:
          type:
          - string
          - 'null'
          description: The URL of the previous page of results, if one exists.
    CostProviders:
      required:
      - cost_providers
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        cost_providers:
          type: array
          items:
            $ref: '#/components/schemas/CostProvider'
      description: CostProviders model
    CostProvider:
      required:
      - key
      - name
      type: object
      properties:
        name:
          type: string
          description: The name of the CostProvider.
          example: AWS
        key:
          type: string
          description: The key of the CostProvider, useful for filtering Costs.
          example: aws
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
