openapi: 3.0.1
info:
  title: Vantage AccessGrants ExchangeRates API
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps platform. It covers cost reporting and querying (Costs, Cost Reports, forecasts, unit costs), cost visibility and optimization (Resources, Recommendations, Financial Commitments, Kubernetes efficiency), governance and alerting (Budgets, Budget Alerts, Cost Alerts, Anomaly Alerts and Notifications), organization (Segments, Folders, Saved Filters, Dashboards, Workspaces, Teams), and billing (Billing Profiles, Billing Rules, Invoices). The API spans AWS, Azure, GCP, Kubernetes, Datadog, Snowflake, MongoDB, and other supported providers. Base URL https://api.vantage.sh/v2. Authentication is via OAuth2 (client credentials / bearer token) with read and write scopes.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: ExchangeRates
  description: Operations about ExchangeRates
paths:
  /exchange_rates:
    get:
      tags:
      - ExchangeRates
      summary: Get all exchange rates
      description: Return all Exchange Rates.
      operationId: getExchangeRates
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRates'
              example:
                exchange_rates:
                - base_currency_code: USD
                  currency_code: PHP
                  rate: '300.011'
                  effective_date: '2025-09-01'
                  updated_at: 2025-09-10 00:05:41 UTC
                meta:
                  current_page: 1
                  next_page: null
                  prev_page: null
                  total_pages: 1
                  total_count: 1
      security:
      - oauth2:
        - read
  /exchange_rates/csv:
    post:
      tags:
      - ExchangeRates
      summary: Upload exchange rates via CSV
      description: Upload Exchange Rates via CSV.
      operationId: createExchangeRatesViaCsv
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - csv
              type: object
              properties:
                csv:
                  type: string
                  description: 'CSV file containing exchange rates. Format: base_currency_code, currency_code, rate, date (YYYY-MM-DD)'
                  format: binary
          multipart/form-data:
            schema:
              required:
              - csv
              type: object
              properties:
                csv:
                  type: string
                  description: 'CSV file containing exchange rates. Format: base_currency_code, currency_code, rate, date (YYYY-MM-DD)'
                  format: binary
        required: true
      responses:
        '201':
          description: CSV uploaded successfully
          content: {}
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
components:
  schemas:
    Errors:
      required:
      - errors
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        errors:
          type: array
          nullable: false
          items:
            type: string
      description: Errors model
    ExchangeRates:
      required:
      - exchange_rates
      type: object
      properties:
        links:
          $ref: '#/components/schemas/Links'
        exchange_rates:
          type: array
          items:
            $ref: '#/components/schemas/exchange_rate'
      description: ExchangeRates model
    exchange_rate:
      required:
      - base_currency_code
      - currency_code
      - effective_date
      - rate
      - updated_at
      type: object
      properties:
        base_currency_code:
          type: string
        currency_code:
          type: string
        rate:
          type: string
        effective_date:
          type: string
        updated_at:
          type: string
    Links:
      type: object
      properties:
        self:
          type: string
          description: The URL of the current page of results.
          nullable: true
        first:
          type: string
          description: The URL of the first page of results.
          nullable: true
        next:
          type: string
          description: The URL of the next page of results, if one exists.
          nullable: true
        last:
          type: string
          description: The URL of the last page of results, if one exists.
          nullable: true
        prev:
          type: string
          description: The URL of the previous page of results, if one exists.
          nullable: true
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://console.vantage.sh/account/profile
          scopes:
            read: Grants read access
            write: Grants write access
x-original-swagger-version: '2.0'
