openapi: 3.0.1
info:
  title: Vantage
  description: The Vantage API provides programmatic access to the Vantage cloud cost management and FinOps
    platform. It covers cost reporting and querying (Costs, Cost Reports, forecasts, unit costs), cost
    visibility and optimization (Resources, Recommendations, Financial Commitments, Kubernetes efficiency),
    governance and alerting (Budgets, Budget Alerts, Cost Alerts, Anomaly Alerts and Notifications), organization
    (Segments, Folders, Saved Filters, Dashboards, Workspaces, Teams), and billing (Billing Profiles,
    Billing Rules, Invoices). The API spans AWS, Azure, GCP, Kubernetes, Datadog, Snowflake, MongoDB,
    and other supported providers. Base URL https://api.vantage.sh/v2. Authentication is via OAuth2 (client
    credentials / bearer token) with read and write scopes.
  termsOfService: https://www.vantage.sh/terms-of-use
  contact:
    name: Vantage Support
    url: https://www.vantage.sh
    email: support@vantage.sh
  version: 2.0.0
servers:
- url: https://api.vantage.sh/v2
security:
- oauth2:
  - read
tags:
- name: AccessGrants
  description: Operations about AccessGrants
- name: AnomalyAlerts
  description: Operations about AnomalyAlerts
- name: AnomalyNotifications
  description: Operations about AnomalyNotifications
- name: AuditLogs
  description: Operations about AuditLogs
- name: BillingProfiles
  description: Operations about BillingProfiles
- name: BillingRules
  description: Operations about BillingRules
- name: BudgetAlerts
  description: Operations about BudgetAlerts
- name: Budgets
  description: Operations about Budgets
- name: BusinessMetrics
  description: Operations about BusinessMetrics
- name: Canvases
  description: Operations about Canvases
- name: CostAlertEvents
  description: Operations about CostAlertEvents
- name: CostAlerts
  description: Operations about CostAlerts
- name: CostProvider
  description: Operations about CostProviders
- name: CostProviderAccounts
  description: Operations about CostProviderAccounts
- name: Costs
  description: Operations about Costs
- name: CostService
  description: Operations about CostServices
- name: Dashboards
  description: Operations about Dashboards
- name: DataExports
  description: Operations about DataExports
- name: ExchangeRates
  description: Operations about ExchangeRates
- name: FinancialCommitmentReports
  description: Operations about FinancialCommitmentReports
- name: FinancialCommitments
  description: Operations about FinancialCommitments
- name: Folders
  description: Operations about Folders
- name: Integrations
  description: Operations about Integrations
- name: Invoices
  description: Operations about Invoices
- name: KubernetesEfficiencyReports
  description: Operations about KubernetesEfficiencyReports
- name: ManagedAccounts
  description: Operations about ManagedAccounts
- name: Me
  description: Operations about Mes
- name: NetworkFlowReports
  description: Operations about NetworkFlowReports
- name: OpenAPISpecification
  description: Operations about OpenAPISpecifications
- name: Ping
  description: Operations about Pings
- name: Prices
  description: Operations about Prices
- name: Recommendations
  description: Operations about Recommendations
- name: RecommendationViews
  description: Operations about RecommendationViews
- name: ReportNotifications
  description: Operations about ReportNotifications
- name: ResourceReports
  description: Operations about ResourceReports
- name: Resources
  description: Operations about Resources
- name: SavedFilters
  description: Operations about SavedFilters
- name: Segments
  description: Operations about Segments
- name: Tags
  description: Operations about Tags
- name: Teams
  description: Operations about Teams
- name: UnitCosts
  description: Operations about UnitCosts
- name: UserFeedback
  description: Operations about UserFeedbacks
- name: Users
  description: Operations about Users
- name: VirtualTags
  description: Operations about VirtualTags
- name: Workspaces
  description: Operations about Workspaces
paths:
  /access_grants:
    get:
      tags:
      - AccessGrants
      summary: Get all access grants
      description: Return all Access Grants that the current API token has access to.
      operationId: getAccessGrants
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrants'
              example:
                links:
                  self: https://api.vantage.sh/v2/access_grants
                  first: https://api.vantage.sh/v2/access_grants?page=1
                  next: null
                  last: https://api.vantage.sh/v2/access_grants?page=1
                  prev: null
                access_grants:
                - token: rsrc_accss_grnt_c40f15062b6d5c37
                  resource_token: rprt_5a269d316483b01c
                  access: denied
                  team_token: team_fd5c524ba104712b
                  created_at: '2024-01-18T17:39:37Z'
                  created_by: usr_eb8ce6bdc1fa31d5
                - token: rsrc_accss_grnt_9723e984e93d8907
                  resource_token: dshbrd_a08561ec24875ac9
                  access: allowed
                  team_token: team_fd5c524ba104712b
                  created_at: '2024-01-18T17:39:37Z'
                  created_by: usr_eb8ce6bdc1fa31d5
                - token: rsrc_accss_grnt_eee5c4fd777d4dc8
                  resource_token: fldr_9d4ad1a769131c58
                  access: allowed
                  team_token: team_fd5c524ba104712b
                  created_at: '2024-01-18T17:39:38Z'
                  created_by: usr_eb8ce6bdc1fa31d5
      security:
      - oauth2:
        - read
    post:
      tags:
      - AccessGrants
      summary: Create access grant
      description: Create an Access Grant.
      operationId: createAccessGrant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAccessGrant'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              example:
                token: rsrc_accss_grnt_9f8aeb3cedda3831
                resource_token: rprt_3b935d26cba36fb0
                access: denied
                team_token: team_26865e16e46028ae
                created_at: '2024-01-18T17:39:37Z'
                created_by: usr_2fc38883da3726b9
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '406':
          description: NotAcceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createAccessGrant
  /access_grants/{access_grant_token}:
    get:
      tags:
      - AccessGrants
      summary: Get access grant by token
      description: Return a specific Access Grant.
      operationId: getAccessGrant
      parameters:
      - name: access_grant_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              example:
                token: rsrc_accss_grnt_07ed83a5069b91c4
                resource_token: rprt_b8df14aa8a4ad5c7
                access: denied
                team_token: team_14bd13a8bccb8406
                created_at: '2024-01-18T17:39:36Z'
                created_by: usr_0e1cb254743b26cb
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - AccessGrants
      summary: Update access grant
      description: Update an AccessGrant.
      operationId: updateAccessGrant
      parameters:
      - name: access_grant_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccessGrant'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
              example:
                token: rsrc_accss_grnt_eea11f0d35318b0d
                resource_token: rprt_e84d7760ab2dd7dc
                access: allowed
                team_token: team_25fc4aa890869602
                created_at: '2024-01-18T17:39:36Z'
                created_by: usr_57ed2fa2a7b30166
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateAccessGrant
    delete:
      tags:
      - AccessGrants
      summary: Delete access grant
      description: Delete an Access Grant.
      operationId: deleteAccessGrant
      parameters:
      - name: access_grant_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessGrant'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /anomaly_alerts:
    get:
      tags:
      - AnomalyAlerts
      summary: Get all anomaly alerts
      description: Return all Anomaly Alerts that the current API token has access to.
      operationId: getAnomalyAlerts
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      - name: start_date
        in: query
        description: The start date of the anomalies to return. ISO 8601 formatted.
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: The end date of the anomalies to return. ISO 8601 formatted.
        schema:
          type: string
          format: date-time
      - name: provider
        in: query
        description: The provider of the anomalies to return.
        schema:
          type: string
      - name: service
        in: query
        description: The service of the anomalies to return.
        schema:
          type: string
      - name: cost_category
        in: query
        description: The cost category of the anomalies to return.
        schema:
          type: string
      - name: cost_report_token
        in: query
        description: The cost report token of the anomalies to return.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlerts'
              example:
                links:
                  self: https://api.vantage.sh/v2/anomaly_alerts
                  first: https://api.vantage.sh/v2/anomaly_alerts?page=1
                  next: null
                  last: https://api.vantage.sh/v2/anomaly_alerts?page=1
                  prev: null
                anomaly_alerts:
                - token: anmly_alrt_e1fb8184ecdf129d
                  created_at: '2024-04-01T17:14:45Z'
                  alerted_at: '2024-04-01T17:14:45Z'
                  category: Compute
                  service: AmazonEKS
                  provider: aws
                  amount: '100.0'
                  previous_amount: '25.0'
                  seven_day_average: '10.0'
                  status: active
                  feedback: null
                  resources:
                  - production-cluster
                  resource_tokens:
                  - rsrc_abcd1234efgh5678
                  cost_report_token: rprt_3d541a4c5160711f
      security:
      - oauth2:
        - read
  /anomaly_alerts/{anomaly_alert_token}:
    get:
      tags:
      - AnomalyAlerts
      summary: Get anomaly alert by token
      description: Return an AnomalyAlert that the current API token has access to.
      operationId: getAnomalyAlert
      parameters:
      - name: anomaly_alert_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlert'
              example:
                token: anmly_alrt_6056b98225236ece
                created_at: '2024-04-01T17:14:45Z'
                alerted_at: '2024-04-01T17:14:45Z'
                category: Compute
                service: AmazonEKS
                provider: aws
                amount: '100.0'
                previous_amount: '25.0'
                seven_day_average: '10.0'
                status: active
                feedback: null
                resources:
                - production-cluster
                resource_tokens:
                - rsrc_abcd1234efgh5678
                cost_report_token: rprt_bf0a30084fbf52c2
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - AnomalyAlerts
      summary: Update anomaly alert
      description: Update an AnomalyAlert.
      operationId: updateAnomalyAlert
      parameters:
      - name: anomaly_alert_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAnomalyAlert'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyAlert'
              example:
                token: anmly_alrt_51a2ce4137305fc6
                created_at: '2024-04-01T17:14:46Z'
                alerted_at: '2024-04-01T17:14:46Z'
                category: Compute
                service: AmazonEKS
                provider: aws
                amount: '100.0'
                previous_amount: '25.0'
                seven_day_average: '10.0'
                status: archived
                feedback: this stinks
                cost_report_token: rprt_57912c584fdf88f4
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateAnomalyAlert
  /anomaly_notifications:
    get:
      tags:
      - AnomalyNotifications
      summary: Get all anomaly notifications
      description: Return all Anomaly Notifications.
      operationId: getAnomalyNotifications
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyNotifications'
              example:
                links:
                  self: https://api.vantage.sh/v2/anomaly_notifications
                  first: https://api.vantage.sh/v2/anomaly_notifications?page=1
                  next: null
                  last: https://api.vantage.sh/v2/anomaly_notifications?page=1
                  prev: null
                anomaly_notifications:
                - token: rprt_alrt_ecb76d8d2825762f
                  cost_report_token: rprt_45fe4d4c1779ce7e
                  created_at: '2024-04-09T15:05:37Z'
                  updated_at: '2024-04-09T15:05:37Z'
                  threshold: 10
                  user_tokens:
                  - usr_13477ee1b1eb81ba
                  recipient_channels: []
      security:
      - oauth2:
        - read
    post:
      tags:
      - AnomalyNotifications
      summary: Create anomaly notification
      description: Create an Anomaly Notification for a Cost Report.
      operationId: createAnomalyNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAnomalyNotification'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyNotification'
              example:
                token: rprt_alrt_9b22edfa0a175609
                cost_report_token: rprt_4c9e5f72ae27bc24
                created_at: '2024-04-09T15:05:37Z'
                updated_at: '2024-04-09T15:05:37Z'
                threshold: 1
                user_tokens:
                - usr_3773d590e84f6f12
                recipient_channels:
                - channel1
                - channel2
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createAnomalyNotification
  /anomaly_notifications/{anomaly_notification_token}:
    get:
      tags:
      - AnomalyNotifications
      summary: Get anomaly notification by token
      description: Return an Anomaly Notification that the current API token has access to.
      operationId: getAnomalyNotification
      parameters:
      - name: anomaly_notification_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyNotification'
              example:
                token: rprt_alrt_5af901100951705b
                cost_report_token: rprt_0d88354748562c26
                created_at: '2024-04-09T15:05:37Z'
                updated_at: '2024-04-09T15:05:37Z'
                threshold: 10
                user_tokens:
                - usr_e163fcb7aeb41f3b
                recipient_channels: []
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - AnomalyNotifications
      summary: Update anomaly notification
      description: Update an Anomaly Notification.
      operationId: updateAnomalyNotification
      parameters:
      - name: anomaly_notification_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAnomalyNotification'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyNotification'
              example:
                token: rprt_alrt_15da34156dca939d
                cost_report_token: rprt_82320a9c1a608f0f
                created_at: '2024-04-09T15:05:37Z'
                updated_at: '2024-04-09T15:05:37Z'
                threshold: 2
                user_tokens:
                - usr_dff5de2b6aecf042
                recipient_channels:
                - channel3
                - channel4
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateAnomalyNotification
    delete:
      tags:
      - AnomalyNotifications
      summary: Delete anomaly notification
      description: Delete an Anomaly Notification.
      operationId: deleteAnomalyNotification
      parameters:
      - name: anomaly_notification_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyNotification'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /audit_logs:
    get:
      tags:
      - AuditLogs
      summary: Get all audit logs
      description: Return all AuditLogs.
      operationId: getAuditLogs
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. Defaults to 100. The maximum is 5000.
        schema:
          type: integer
          format: int32
      - name: user
        in: query
        description: Filter by personal or service API token that performed the action.
        schema:
          type: integer
          format: int32
      - name: workspace_token
        in: query
        description: Filter by workspace token.
        schema:
          type: string
      - name: action
        in: query
        description: Filter by action type.
        schema:
          type: string
          enum:
          - create
          - update
          - delete
      - name: object_name
        in: query
        description: Filter by object name.
        schema:
          type: string
      - name: source
        in: query
        description: Filter by source.
        schema:
          type: string
          enum:
          - console
          - api
          - finops_agent
      - name: object_type
        in: query
        description: Filter by object type.
        schema:
          type: string
          enum:
          - virtual_tag
          - cost_report
          - recommendation_commitment
          - segment
      - name: token
        in: query
        description: Filter by audit log token.
        schema:
          type: string
      - name: object_token
        in: query
        description: Filter by object token (auditable_token).
        schema:
          type: string
      - name: start_date
        in: query
        description: Filter by start date (ISO 8601 format, e.g., 2024-06-01).
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Filter by end date (ISO 8601 format, e.g., 2024-06-01).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogs'
              example:
                audit_logs:
                - token: adt_lg_1234567890abcdef
                  object_token: rpt_1234567890abcdef
                  object_type: Report
                  object_title: Production Cost Report
                  event: record_updated
                  source: api
                  user: Example User
                  workspace_title: Production Workspace
                  workspace_token: wrkspc_5df510e54a48a137
                  created_at: '2025-07-01T14:30:00Z'
                  object_changes:
                    title:
                    - Old Production Report
                    - Production Cost Report
                    updated_at:
                    - '2025-06-15T10:00:00Z'
                    - '2025-07-01T14:30:00Z'
                - token: adt_lg_0987654321fedcba
                  object_token: rpt_0987654321fedcba
                  object_type: Report
                  object_title: Development Cost Report
                  event: record_created
                  source: console
                  user: Example User
                  workspace_title: Production Workspace
                  workspace_token: wrkspc_5df510e54a48a137
                  created_at: '2025-06-25T09:15:00Z'
                  object_changes:
                    key:
                    - null
                    - api-created-tag-1755150452
                    token:
                    - null
                    - vtag_0497e0c2b571a71d
                    backfill_until:
                    - null
                    - '2025-08-01T00:00:00.000Z'
                    created_by_type:
                    - User
                    - Team
                    referenced_tag_keys_by_provider:
                    - '{}'
                    - '{"aws":[]}'
                    account:
                    - null
                    - Test Account
                    created_by:
                    - null
                    - Example User
                - token: adt_lg_abcdef1234567890
                  object_token: bgt_abcdef1234567890
                  object_type: Budget
                  object_title: Q3 Marketing Budget
                  event: record_destroyed
                  source: api
                  user: Admin User
                  workspace_title: Production Workspace
                  workspace_token: wrkspc_5df510e54a48a137
                  created_at: '2025-06-20T16:45:00Z'
                  object_changes:
                    title:
                    - test_1
                    - test_1_updated
                links:
                  self: /v2/audit_logs?page=1
                  first: /v2/audit_logs?page=1
                  next: /v2/audit_logs?page=2
                  last: /v2/audit_logs?page=3
                  prev: null
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
  /audit_logs/{audit_log_token}:
    get:
      tags:
      - AuditLogs
      summary: Get audit log by token
      description: Return a specific AuditLog.
      operationId: getAuditLog
      parameters:
      - name: audit_log_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLog'
              example:
                token: adt_lg_1234567890abcdef
                object_token: rpt_1234567890abcdef
                object_type: Report
                object_title: Production Cost Report
                event: record_updated
                source: api
                user: Example User
                workspace_title: Production Workspace
                workspace_token: wrkspc_5df510e54a48a137
                created_at: '2025-07-01T14:30:00Z'
                object_changes:
                  title:
                  - Old Production Report
                  - Production Cost Report
                  updated_at:
                  - '2025-06-15T10:00:00Z'
                  - '2025-07-01T14:30:00Z'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
  /billing_profiles:
    get:
      tags:
      - BillingProfiles
      summary: Get all billing profiles
      description: Returns a list of billing profiles (MSP invoicing required).
      operationId: getBillingProfiles
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfiles'
      security:
      - oauth2:
        - read
    post:
      tags:
      - BillingProfiles
      summary: Create billing profile
      description: Create a billing profile (MSP invoicing required).
      operationId: createBillingProfile
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBillingProfile'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBillingProfile
  /billing_profiles/{billing_profile_token}:
    get:
      tags:
      - BillingProfiles
      summary: Get billing profile by token
      description: Requires MSP invoicing to be enabled on the account.
      operationId: getBillingProfile
      parameters:
      - name: billing_profile_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - BillingProfiles
      summary: Update billing profile
      description: Requires MSP invoicing to be enabled on the account.
      operationId: updateBillingProfile
      parameters:
      - name: billing_profile_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBillingProfile'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBillingProfile
    delete:
      tags:
      - BillingProfiles
      summary: Delete billing profile
      description: Requires MSP invoicing to be enabled on the account.
      operationId: deleteBillingProfile
      parameters:
      - name: billing_profile_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Billing Profile deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingProfile'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /billing_rules:
    get:
      tags:
      - BillingRules
      summary: Get all billing rules
      description: Returns a list of billing rules.
      operationId: getBillingRules
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRules'
              example:
                links:
                  self: https://api.vantage.sh/v2/billing_rules
                  first: https://api.vantage.sh/v2/billing_rules?page=1
                  next: null
                  last: https://api.vantage.sh/v2/billing_rules?page=1
                  prev: null
                billing_rules:
                - token: bllng_rule_ac6852c686e265a1
                  title: Exclude Reserved Instance Fees
                  type: Exclusion
                  created_by_token: usr_018532419bd2e1da
                  created_at: '2024-07-02T15:26:51Z'
                  charge_type: Reserved Instance Fees
      security:
      - oauth2:
        - read
    post:
      tags:
      - BillingRules
      summary: Create billing rule
      description: Create a BillingRule.
      operationId: createBillingRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBillingRule'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRule'
              example:
                token: bllng_rule_9cc9eab6bb73266b
                title: Credit for Data Transfer
                type: Credit
                created_by_token: usr_ae0b14f6c9108edc
                created_at: '2024-07-02T15:26:52Z'
                service: Amazon S3
                category: Data Transfer
                sub_category: Outbound
                start_period: '2024-05-01'
                amount: '300.0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBillingRule
  /billing_rules/{billing_rule_token}:
    get:
      tags:
      - BillingRules
      summary: Get billing rule by token
      description: Return a BillingRule.
      operationId: getBillingRule
      parameters:
      - name: billing_rule_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRule'
              example:
                token: bllng_rule_a2708f17b2d3fb0e
                title: Exclude Reserved Instance Fees
                type: Exclusion
                created_by_token: usr_d253a52c80171514
                created_at: '2024-07-02T15:26:50Z'
                charge_type: Reserved Instance Fees
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - BillingRules
      summary: Update billing rule
      description: Update a BillingRule.
      operationId: updateBillingRule
      parameters:
      - name: billing_rule_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBillingRule'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRule'
              example:
                token: bllng_rule_16c2d217f026d23e
                title: Updated Adjustment
                type: Adjustment
                created_by_token: usr_cef510966067477f
                created_at: '2024-07-02T15:26:52Z'
                service: Amazon S3
                category: Data Transfer
                adjusted_rate: '0.85'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBillingRule
    delete:
      tags:
      - BillingRules
      summary: Delete billing rule
      description: Delete a BillingRule.
      operationId: deleteBillingRule
      parameters:
      - name: billing_rule_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingRule'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /budget_alerts:
    get:
      tags:
      - BudgetAlerts
      summary: Get all budget alerts
      description: Return all BudgetAlerts.
      operationId: getBudgetAlerts
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlerts'
      security:
      - oauth2:
        - read
    post:
      tags:
      - BudgetAlerts
      summary: Create budget alert
      description: Create a Budget Alert.
      operationId: createBudgetAlert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBudgetAlert'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBudgetAlert
  /budget_alerts/{budget_alert_token}:
    get:
      tags:
      - BudgetAlerts
      summary: Get budget alert by token
      description: Return a BudgetAlert.
      operationId: getBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - BudgetAlerts
      summary: Update budget alert
      description: Updates an existing BudgetAlert.
      operationId: updateBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBudgetAlert'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBudgetAlert
    delete:
      tags:
      - BudgetAlerts
      summary: Delete budget alert
      description: Delete a BudgetAlert.
      operationId: deleteBudgetAlert
      parameters:
      - name: budget_alert_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /budgets:
    get:
      tags:
      - Budgets
      summary: Get all budgets
      description: Return all Budgets.
      operationId: getBudgets
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budgets'
              example:
                links:
                  self: https://api.vantage.sh/v2/budgets
                  first: https://api.vantage.sh/v2/budgets?page=1
                  next: null
                  last: https://api.vantage.sh/v2/budgets?page=1
                  prev: null
                budgets:
                - token: bdgt_0d825e79a0682cc2
                  name: database
                  workspace_token: wrkspc_226ab053bd01bb2b
                  user_token: usr_8e44c17792242852
                  created_by_token: usr_8e44c17792242852
                  cost_report_token: rprt_92062240b4ffda91
                  created_at: '2024-07-11T20:22:49Z'
                  budget_alert_tokens: []
                  periods:
                  - start_at: '2024-07-01'
                    end_at: '2024-09-30'
                    amount: '10000.0'
                  performance:
                  - date: July, 2024
                    actual: -100%
                    amount: '10000.0'
      security:
      - oauth2:
        - read
    post:
      tags:
      - Budgets
      summary: Create budget
      description: Create a Budget.
      operationId: createBudget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBudget'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
              example:
                token: bdgt_ea1eaec89d553e34
                name: New Budget Name
                workspace_token: wrkspc_b83e21368ee5fd9d
                user_token: null
                created_by_token: team_aea2488160e90528
                cost_report_token: null
                created_at: '2024-07-11T20:22:52Z'
                budget_alert_tokens: []
                periods:
                - start_at: '2024-01-01'
                  end_at: '2024-01-31'
                  amount: '100.0'
                - start_at: '2024-02-01'
                  end_at: '2024-02-29'
                  amount: '200.0'
                - start_at: '2024-03-01'
                  end_at: '2024-04-30'
                  amount: '300.0'
                performance:
                - date: April, 2024
                  actual: 0%
                  amount: '300.0'
                - date: March, 2024
                  actual: 0%
                  amount: '300.0'
                - date: February, 2024
                  actual: 0%
                  amount: '200.0'
                - date: January, 2024
                  actual: 0%
                  amount: '100.0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBudget
  /budgets/{budget_token}:
    get:
      tags:
      - Budgets
      summary: Get budget by token
      description: Return a Budget.
      operationId: getBudget
      parameters:
      - name: include_performance
        in: query
        description: Include performance data.
        schema:
          type: boolean
      - name: budget_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
              example:
                token: bdgt_24068dbacaaad7fb
                name: Total
                workspace_token: wrkspc_545a937d68541448
                user_token: usr_470d15b368844366
                created_by_token: usr_470d15b368844366
                cost_report_token: rprt_9ee9f29893956951
                created_at: '2024-07-11T20:22:41Z'
                budget_alert_tokens: []
                periods:
                - start_at: '2024-07-01'
                  end_at: '2024-09-30'
                  amount: '10000.0'
                performance:
                - date: July, 2024
                  actual: -100%
                  amount: '10000.0'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Budgets
      summary: Update budget
      description: Update a Budget.
      operationId: updateBudget
      parameters:
      - name: budget_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBudget'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
              example:
                token: bdgt_39ce7f848dff6d54
                name: New Name New Budget Who Dis
                workspace_token: wrkspc_949771e4fb8d7bfe
                user_token: usr_9b375256090d0fda
                created_by_token: usr_9b375256090d0fda
                cost_report_token: rprt_07325bc3667263b7
                created_at: '2024-07-11T20:22:48Z'
                budget_alert_tokens: []
                periods:
                - start_at: '2023-01-01'
                  end_at: '2023-01-31'
                  amount: '234.0'
                - start_at: '2024-01-01'
                  end_at: '2024-01-31'
                  amount: '123.0'
                - start_at: '2024-07-01'
                  end_at: '2024-09-30'
                  amount: '10000.0'
                performance:
                - date: July, 2024
                  actual: -100%
                  amount: '10000.0'
                - null
                - null
                - null
                - null
                - null
                - date: January, 2024
                  actual: -100%
                  amount: '123.0'
                - null
                - null
                - null
                - null
                - null
                - null
                - null
                - null
                - null
                - null
                - null
                - date: January, 2023
                  actual: 1224%
                  amount: '234.0'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBudget
    delete:
      tags:
      - Budgets
      summary: Delete budget
      description: Delete a Budget.
      operationId: deleteBudget
      parameters:
      - name: budget_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /business_metrics:
    get:
      tags:
      - BusinessMetrics
      summary: Get all business metrics
      description: Return all BusinessMetrics that the current API token has access to.
      operationId: getBusinessMetrics
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetrics'
              example:
                business_metrics:
                - token: bsnss_mtrc_124dc3483510ac35
                  title: Business Metric
                  created_by_token: usr_80447a58ff9821dd
                  cost_report_tokens_with_metadata: []
                  import_type: csv
                  integration_token: ''
                - token: bsnss_mtrc_2534c89d90b714f7
                  title: AWS Metric
                  created_by_token: usr_752202a1bb7c9a70
                  cost_report_tokens_with_metadata: []
                  import_type: cloudwatch
                  integration_token: accss_crdntl_742fd1207f8b6816
                  cloudwatch_fields:
                    stat: Maximum
                    region: us-east-1
                    namespace: AWS/EC2
                    metric_name: CPUUtilization
                    dimensions:
                    - name: InstanceId
                      value: i-06105d0faad66r97
                    label_dimension: null
                - token: bsnss_mtrc_c11f0f8dea953e92
                  title: Datadog Metric
                  created_by_token: usr_604fcaa892a23fe9
                  cost_report_tokens_with_metadata: []
                  import_type: datadog_metrics
                  integration_token: accss_crdntl_e0e11192748e69bb
                  datadog_metric_fields:
                    query: avg:system.cpu.user{*}.rollup(avg, daily)
      security:
      - oauth2:
        - read
    post:
      tags:
      - BusinessMetrics
      summary: Create business metric
      description: Create a new BusinessMetric.
      operationId: createBusinessMetric
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBusinessMetric'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              example:
                token: bsnss_mtrc_e8d0a6f35c9f4e8c
                title: New Biz Metric
                created_by_token: usr_464e70f8e230fa62
                cost_report_tokens_with_metadata:
                - cost_report_token: rprt_67a1e1ac3bb7cefd
                  unit_scale: per_thousand
                  label_filter:
                  - Dev
                  - Prod
                  - Staging
                  - ''
                import_type: csv
                integration_token: ''
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createBusinessMetric
  /business_metrics/{business_metric_token}:
    get:
      tags:
      - BusinessMetrics
      summary: Get business metric by token
      description: Return a BusinessMetric.
      operationId: getBusinessMetric
      parameters:
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              example:
                token: bsnss_mtrc_6d8f14830f9870ac
                title: Quo Lux
                created_by_token: usr_622d8870faf147bb
                cost_report_tokens_with_metadata: []
                import_type: csv
                integration_token: ''
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - BusinessMetrics
      summary: Update business metric
      description: Updates an existing BusinessMetric.
      operationId: updateBusinessMetric
      parameters:
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateBusinessMetric'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              example:
                token: bsnss_mtrc_e3d9bf77f276d23b
                title: New Title
                created_by_token: usr_1e4b6318373f5c98
                cost_report_tokens_with_metadata:
                - cost_report_token: rprt_54aa7c0519d3f1e2
                  unit_scale: per_thousand
                  label_filter:
                  - Dev
                  - Prod
                  - Staging
                  - ''
                - cost_report_token: rprt_201403b36022766a
                  unit_scale: per_million
                import_type: csv
                integration_token: ''
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateBusinessMetric
    delete:
      tags:
      - BusinessMetrics
      summary: Delete business metric
      description: Deletes an existing BusinessMetric.
      operationId: deleteBusinessMetric
      parameters:
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /business_metrics/{business_metric_token}/values:
    get:
      tags:
      - BusinessMetrics
      summary: Get business metric values
      description: Return values of a BusinessMetric
      operationId: getBusinessMetricValues
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      - name: start_date
        in: query
        description: Query BusinessMetrics by the first date you would like to filter from. ISO 8601 Formatted
          - 2021-07-15
        schema:
          type: string
          format: date
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetricValues'
              example:
                values:
                - date: '2024-01-03T00:00:00Z'
                  amount: '300.0'
                - date: '2024-01-02T00:00:00Z'
                  amount: '200.0'
                - date: '2024-01-01T00:00:00Z'
                  amount: '100.0'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    delete:
      tags:
      - BusinessMetrics
      summary: Delete business metric values
      description: Deletes Business Metric values (historical or forecasted unit metrics).
      operationId: deleteBusinessMetricValues
      parameters:
      - name: start_date
        in: query
        description: Inclusive lower bound (ISO 8601 date or datetime, UTC). Date-only values start at
          00:00:00 UTC that day.
        schema:
          type: string
      - name: end_date
        in: query
        description: Inclusive upper bound (ISO 8601 date or datetime, UTC). Date-only values include
          the full calendar day through 23:59:59.999999999 UTC.
        schema:
          type: string
      - name: label
        in: query
        description: When present in the query string (including as an empty value), only unit metrics
          with this exact label are deleted. Omit the parameter to delete all labels in range.
        schema:
          type: string
      - name: forecasted
        in: query
        description: When true, deletes forecasted unit metrics instead of historical ones.
        schema:
          type: boolean
          default: false
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetricValuesDeleteResponse'
              example:
                deleted_count: 120
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /business_metrics/{business_metric_token}/forecasted_values:
    get:
      tags:
      - BusinessMetrics
      summary: Get business metric forecasted values
      description: Return forecasted values of a BusinessMetric
      operationId: getBusinessMetricForecastedValues
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      - name: start_date
        in: query
        description: Query BusinessMetrics by the first date you would like to filter from. ISO 8601 Formatted
          - 2021-07-15
        schema:
          type: string
          format: date
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetricValues'
              example:
                values:
                - date: '2025-01-03T00:00:00Z'
                  amount: '300.0'
                - date: '2025-01-02T00:00:00Z'
                  amount: '200.0'
                - date: '2025-01-01T00:00:00Z'
                  amount: '100.0'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
  /business_metrics/{business_metric_token}/values.csv:
    put:
      tags:
      - BusinessMetrics
      summary: Update business metric values from CSV
      description: Updates the values for an existing BusinessMetric from a CSV file.
      operationId: updateBusinessMetricValuesCSV
      parameters:
      - name: business_metric_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - csv
              type: object
              properties:
                csv:
                  type: string
                  description: CSV file containing BusinessMetric dates and amounts
                  format: binary
                forecasted:
                  type: boolean
                  description: When true, imports values as forecasted metrics instead of historical metrics.
                  default: false
          multipart/form-data:
            schema:
              required:
              - csv
              type: object
              properties:
                csv:
                  type: string
                  description: CSV file containing BusinessMetric dates and amounts
                  format: binary
                forecasted:
                  type: boolean
                  description: When true, imports values as forecasted metrics instead of historical metrics.
                  default: false
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessMetric'
              example:
                token: bsnss_mtrc_6bb1021d8651923a
                title: Overhold
                created_by_token: usr_ad24de73bffb7791
                cost_report_tokens_with_metadata: []
                import_type: csv
                integration_token: ''
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /canvases:
    get:
      tags:
      - Canvases
      summary: Get all canvases
      description: Return all Canvases.
      operationId: getCanvases
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvases'
      security:
      - oauth2:
        - read
    post:
      tags:
      - Canvases
      summary: Create canvas
      description: Create a Canvas.
      operationId: createCanvas
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCanvas'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createCanvas
  /canvases/{canvas_token}:
    get:
      tags:
      - Canvases
      summary: Get canvas by token
      description: Return a specific Canvas.
      operationId: getCanvas
      parameters:
      - name: canvas_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Canvases
      summary: Update canvas
      description: Update a Canvas.
      operationId: updateCanvas
      parameters:
      - name: canvas_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCanvas'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateCanvas
    delete:
      tags:
      - Canvases
      summary: Delete canvas
      description: Delete a Canvas.
      operationId: deleteCanvas
      parameters:
      - name: canvas_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /cost_alerts/{cost_alert_token}/events:
    get:
      tags:
      - CostAlertEvents
      summary: Get all cost alert events
      description: Get all CostAlertEvents
      operationId: getCostAlertEvents
      parameters:
      - name: cost_alert_token
        in: path
        description: The token of the CostAlertEvent.
        required: true
        schema:
          type: string
      - name: report_token
        in: query
        description: The token of the report associated with the CostAlertEvent.
        schema:
          type: string
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The number of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlertEvents'
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events
                  first: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_alerts/cstm_alrt_rl_71cacf1cf755fe36/events?page=1
                  prev: null
                cost_alert_events:
                - token: cstm_alrt_evnt_87124a0f2989837b
                  created_at: '2025-04-08T17:39:30Z'
                  triggered_at: '2025-04-10T17:39:30Z'
                  description: Day over day costs for aws and storage increased by $500.0.
                  alert_type: change_in_cost
                  metadata:
                    change_in_cost: '500.0'
                    groupings:
                    - aws
                    - storage
                  report_token: rprt_e9f27fc1c3b68204
                  alert_token: cstm_alrt_rl_71cacf1cf755fe36
                - token: cstm_alrt_evnt_5c67b34433ea6e97
                  created_at: '2025-04-09T17:39:30Z'
                  triggered_at: '2025-04-10T17:39:30Z'
                  description: Day over day costs for aws and storage increased by $500.0.
                  alert_type: change_in_cost
                  metadata:
                    change_in_cost: '500.0'
                    groupings:
                    - aws
                    - storage
                  report_token: rprt_1bdc694530d0b3d6
                  alert_token: cstm_alrt_rl_71cacf1cf755fe36
      security:
      - oauth2:
        - read
  /cost_alerts/{cost_alert_token}/events/{event_token}:
    get:
      tags:
      - CostAlertEvents
      summary: Get cost alert event by token
      description: Get a CostAlertEvent
      operationId: getCostAlertEvent
      parameters:
      - name: cost_alert_token
        in: path
        required: true
        schema:
          type: string
      - name: event_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlertEvent'
              example:
                token: cstm_alrt_evnt_bdc4f45f9a5f20f1
                created_at: '2025-04-08T17:39:29Z'
                triggered_at: '2025-04-10T17:39:29Z'
                description: Day over day costs for aws and storage increased by $500.0.
                alert_type: change_in_cost
                metadata:
                  change_in_cost: '500.0'
                  groupings:
                  - aws
                  - storage
                report_token: rprt_9585e8071c2756d4
                alert_token: cstm_alrt_rl_42159424c0cf6fcb
      security:
      - oauth2:
        - read
  /cost_alerts:
    get:
      tags:
      - CostAlerts
      summary: Get all cost alerts
      description: List all Cost Alerts
      operationId: getCostAlerts
      responses:
        '200':
          description: List all Cost Alerts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlerts'
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_alerts
                  first: https://api.vantage.sh/v2/cost_alerts?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_alerts?page=1
                  prev: null
                cost_alerts:
                - token: cstm_alrt_rl_945f63c6c91cd824
                  title: Default Alert Rule
                  email_recipients: []
                  slack_channels: []
                  teams_channels: []
                  created_at: '2024-04-21T15:19:49.673Z'
                  updated_at: '2025-04-21T15:19:49.673Z'
                  workspace_token: wrkspc_7d5a18b7d02942da
                  interval: day
                  threshold: 1000.0
                  unit_type: currency
                  report_tokens:
                  - rprt_a88be0a2af07fe10
      security:
      - oauth2:
        - read
    post:
      tags:
      - CostAlerts
      summary: Create cost alert
      description: Create a new Cost Alert
      operationId: createCostAlert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCostAlert'
        required: true
      responses:
        '201':
          description: Cost Alert created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlert'
              example:
                token: cstm_alrt_rl_76efd4cd0f56149a
                title: New Alert
                email_recipients:
                - burl_mosciski@hayes.info
                slack_channels: []
                teams_channels: []
                created_at: '2025-04-21T15:19:49.891Z'
                updated_at: '2025-04-21T15:19:49.891Z'
                workspace_token: wrkspc_a5e36f631519f7d3
                interval: month
                threshold: 100.0
                unit_type: currency
                report_tokens:
                - rprt_ccf0092d336de56c
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createCostAlert
  /cost_alerts/{cost_alert_token}:
    get:
      tags:
      - CostAlerts
      summary: Get cost alert by token
      description: Get a Cost Alert
      operationId: getCostAlert
      parameters:
      - name: cost_alert_token
        in: path
        description: The token of the Cost Alert.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get a Cost Alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlert'
              example:
                token: cstm_alrt_rl_db54d080e58bf82a
                title: Default Alert Rule
                email_recipients: []
                slack_channels: []
                teams_channels: []
                created_at: '2024-04-21T15:19:49.598Z'
                updated_at: '2025-04-21T15:19:49.598Z'
                workspace_token: wrkspc_c94c58cd1f9a6314
                interval: day
                threshold: 1000.0
                unit_type: currency
                report_tokens:
                - rprt_7c787dfc49b17876
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - CostAlerts
      summary: Update cost alert
      description: Update a Cost Alert
      operationId: updateCostAlert
      parameters:
      - name: cost_alert_token
        in: path
        description: The token of the Cost Alert.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCostAlert'
        required: true
      responses:
        '200':
          description: Cost Alert updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlert'
              example:
                token: cstm_alrt_rl_65ff8613224f4469
                title: Default Alert Rule
                email_recipients:
                - andy.kuvalis@stanton.com
                - ismael_bashirian@jenkins.biz
                slack_channels: []
                teams_channels: []
                created_at: '2024-04-21T15:19:48.503Z'
                updated_at: '2025-04-21T15:19:48.537Z'
                workspace_token: wrkspc_643e0e66ee5a4611
                interval: day
                threshold: 500.0
                unit_type: currency
                report_tokens:
                - rprt_bc47a84e3ab8a5d5
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateCostAlert
    delete:
      tags:
      - CostAlerts
      summary: Delete cost alert
      description: Delete a Cost Alert
      operationId: deleteCostAlert
      parameters:
      - name: cost_alert_token
        in: path
        description: The token of the Cost Alert.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Cost Alert deleted successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostAlert'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /cost_providers:
    get:
      tags:
      - CostProvider
      summary: Get cost providers
      description: List CostProviders available to query in a given Workspace.
      operationId: getCostProviders
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostProviders for. Required if the API token is
          associated with multiple Workspaces.
        schema:
          type: string
      responses:
        '200':
          description: List of connected CostProviders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostProviders'
      security:
      - oauth2:
        - read
  /cost_provider_accounts:
    get:
      tags:
      - CostProviderAccounts
      summary: Get all cost provider accounts
      description: List CostProviderAccounts available in a given Workspace.
      operationId: getCostProviderAccounts
      parameters:
      - name: workspace_token
        in: query
        description: The token of the Workspace to list CostProviderAccounts for. Required if the API
          token is associated with multiple Workspaces.
        schema:
          type: string
      - name: provider
        in: query
        description: Filter by provider type.
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - snowflake
          - databricks
          - mongo
          - datadog
          - fastly
          - new_relic
          - opencost
          - open_ai
          - oracle
          - confluent
          - planetscale
          - coralogix
          - kubernetes
          - custom_provider
          - github
          - linode
          - grafana
          - clickhouse
          - temporal
          - twilio
          - azure_csp
          - kubernetes_agent
          - anthropic
          - anyscale
          - cursor
          - elastic
          - vercel
          - redis_cloud
          - circle_ci
          - modal
          - eleven_labs
          - baseten
          - cloudflare
          - fireworks_ai
      - name: account_id
        in: query
        description: Filter by provider account identifier.
        schema:
          type: string
      - name: account_name
        in: query
        description: Filter by account name (exact match).
        schema:
          type: string
      responses:
        '200':
          description: List of provider accounts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostProviderAccounts'
              example:
                cost_provider_accounts:
                - title: Azure Development Account
                  account_id: azure-subscription-id
                  provider_uuid: azure-subscription-uuid
                  provider: azure
                - title: AWS Test Account
                  account_id: '999888777666'
                  provider_uuid: arn:aws:organizations::999888777666:account/o-test123456/999888777666
                  provider: aws
      security:
      - oauth2:
        - read
  /cost_reports:
    get:
      tags:
      - Costs
      summary: Get all cost reports
      description: Return all CostReports.
      operationId: getCostReports
      parameters:
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
          type: integer
          format: int32
      - name: folder_token
        in: query
        description: The token for the Folder you would like to fetch Reports from.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReports'
              example:
                links:
                  self: https://api.vantage.sh/v2/cost_reports
                  first: https://api.vantage.sh/v2/cost_reports?page=1
                  next: null
                  last: https://api.vantage.sh/v2/cost_reports?page=1
                  prev: null
                cost_reports:
                - token: rprt_6f2c7d330c05636f
                  title: Untitled
                  folder_token: null
                  saved_filter_tokens:
                  - svd_fltr_9f2aca5e894b432a
                  business_metric_tokens_with_metadata: []
                  default_forecast:
                    kind: baseline
                  filter: null
                  groupings: service,provider
                  settings:
                    include_credits: false
                    include_refunds: false
                    include_discounts: true
                    include_tax: true
                    amortize: true
                    unallocated: false
                    aggregate_by: cost
                    show_previous_period: true
                    complete_period: false
                  created_at: '2024-07-03T00:00:00Z'
                  workspace_token: wrkspc_3f4145fd51b19463
                  previous_period_start_date: null
                  previous_period_end_date: null
                  start_date: '2024-07-01'
                  end_date: '2024-07-31'
                  date_interval: this_month
                  chart_type: line
                  date_bin: cumulative
                  chart_settings:
                    y_axis_dimension: cost
                    x_axis_dimension:
                    - date
      security:
      - oauth2:
        - read
    post:
      tags:
      - Costs
      summary: Create cost report
      description: Create a CostReport.
      operationId: createCostReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCostReport'
        required: true
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              example:
                token: rprt_299359872859a568
                title: New Cost Report
                folder_token: fldr_736175272c30b820
                saved_filter_tokens:
                - svd_fltr_3cf17b5bd79e849c
                business_metric_tokens_with_metadata:
                - business_metric_token: bsnss_mtrc_b90d5fe5fbff292d
                  unit_scale: per_thousand
                  label_filter:
                  - CBGB
                  - Roxy
                  - Studio 54
                  - ''
                default_forecast:
                  kind: baseline
                filter: costs.provider = 'aws' AND costs.service = 'Amazon Simple Storage Service'
                groupings: service,provider
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                  show_previous_period: true
                  complete_period: false
                created_at: '2024-07-03T00:00:00Z'
                workspace_token: wrkspc_9e2675148d6275f8
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: '2024-07-01'
                end_date: '2024-07-31'
                date_interval: this_month
                chart_type: bar
                date_bin: day
                chart_settings:
                  y_axis_dimension: cost
                  x_axis_dimension:
                  - date
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '422':
          description: UnprocessableEntity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: createCostReport
  /cost_reports/{cost_report_token}:
    get:
      tags:
      - Costs
      summary: Get cost report by token
      description: Return a CostReport.
      operationId: getCostReport
      parameters:
      - name: cost_report_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              example:
                token: rprt_5db7a73cf4d09998
                title: Untitled
                folder_token: null
                saved_filter_tokens:
                - svd_fltr_e1166df04e1709bf
                business_metric_tokens_with_metadata: []
                default_forecast:
                  kind: baseline
                filter: null
                groupings: service,provider
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                  show_previous_period: true
                  complete_period: false
                created_at: '2024-07-03T00:00:00Z'
                workspace_token: wrkspc_9c6847147c762f2a
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: '2024-07-01'
                end_date: '2024-07-31'
                date_interval: this_month
                chart_type: line
                date_bin: cumulative
                chart_settings:
                  y_axis_dimension: cost
                  x_axis_dimension:
                  - date
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - read
    put:
      tags:
      - Costs
      summary: Update cost report
      description: Update a CostReport.
      operationId: updateCostReport
      parameters:
      - name: cost_report_token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCostReport'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
              example:
                token: rprt_1e692ea6b3eddf6b
                title: Updated Cost Report
                folder_token: fldr_86dec25791dca5ce
                saved_filter_tokens:
                - svd_fltr_1977fb9dc5e2b336
                business_metric_tokens_with_metadata:
                - business_metric_token: bsnss_mtrc_14dc9a1fb1ce67ce
                  unit_scale: per_thousand
                  label_filter:
                  - CBGB
                  - Roxy
                  - Studio 54
                  - ''
                - business_metric_token: bsnss_mtrc_ab4227c15f99f995
                  unit_scale: per_million
                default_forecast:
                  kind: baseline
                filter: costs.provider = 'azure'
                groupings: account_id,service
                settings:
                  include_credits: false
                  include_refunds: false
                  include_discounts: true
                  include_tax: true
                  amortize: true
                  unallocated: false
                  aggregate_by: cost
                  show_previous_period: true
                  complete_period: false
                created_at: '2024-07-03T00:00:00Z'
                workspace_token: wrkspc_a8fb0662fdca90e0
                previous_period_start_date: null
                previous_period_end_date: null
                start_date: '2024-07-01'
                end_date: '2024-07-31'
                date_interval: this_month
                chart_type: pie
                date_bin: week
                chart_settings:
                  y_axis_dimension: cost
                  x_axis_dimension:
                  - date
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
      x-codegen-request-body-name: updateCostReport
    delete:
      tags:
      - Costs
      summary: Delete cost report
      description: Delete a CostReport.
      operationId: deleteCostReport
      parameters:
      - name: cost_report_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostReport'
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
      security:
      - oauth2:
        - write
  /cost_reports/{cost_report_token}/forecasted_costs:
    get:
      tags:
      - Costs
      summary: Get forecasted costs for a cost report
      description: Return all ForecastedCosts.
      operationId: getForecastedCosts
      parameters:
      - name: cost_report_token
        in: path
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        description: First date you would like to filter forecasted costs from. ISO 8601 formatted.
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Last date you would like to filter forecasted costs from. ISO 8601 formatted.
        schema:
          type: string
          format: date
      - name: provider
        in: query
        description: Limit the forecasted costs to a specific provider. 'all' is accepted to filter to
          overall forecast.
        schema:
          type: string
          enum:
          - aws
          - azure
          - gcp
          - snowflake
          - databricks
          - mongo
          - datadog
          - fastly
          - new_relic
          - opencost
          - open_ai
          - oracle
          - confluent
          - planetscale
          - coralogix
          - kubernetes
          - custom_provider
          - github
          - linode
          - grafana
          - clickhouse
          - temporal
          - twilio
          - azure_csp
          - kubernetes_agent
          - anthropic
          - anyscale
          - cursor
          - elastic
          - vercel
          - redis_cloud
          - circle_ci
          - modal
          - eleven_labs
          - baseten
          - cloudflare
          - fireworks_ai
          - all
      - name: service
        in: query
        description: Limit the forecasted costs to a specific service. 'all' is accepted to filter to
          overall forecast. e.g. 'Amazon ElastiCache'.
        schema:
          type: string
      - name: page
        in: query
        description: The page of results to return.
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        description: The amount of results to return. The maximum is 1000.
        schema:
[...]
